 
*{
    margin:0px;
    padding:0px;

}
.title{
    text-align: center;
    color: blue;

}
.container{
    color:beige;
    width: 600px;
    margin: 2px auto;
}

.block{
    display: block;
    margin: 10px auto;
    padding: 3px 123px;
    text-align: center;
    border: 2px solid blue;
    border-radius: 4px;

}
.btn{
    display: block;
    
    width: 100px;
    margin: 2px auto;
    border: 2px solid red;
    font-size: 18px;
    border-radius: 4px;
    background-color: blueviolet;
     
}