<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
        include ../public/style.css
</head>

<body>
    <h1 class="title">Fill this form for Gym Addmition</h1>
    <div class="box">
        <form action="/" method="post" class="container">
            <input type="text" class="block" name="name" id="name" placeholder="Enter you name">
            <input type="text" class="block" name="age" id="age" placeholder="Enter you age">
            <input type="text" class="block" name="gender" id="gender" placeholder="Enter you gender">
            <input type="number"class="block" name="number" id="num" placeholder="Enter you mobile Number">
            <input type="email" name="email" class="block" id="emailid" placeholder="Enter you email">
            <textarea name="address" class="block" id="address" cols="30" rows="10 " placeholder="Enter your Address"></textarea>
            <textarea name="more" class="block" id="more" cols="30" rows="10 " placeholder="more about yourself"></textarea>
            <input class="btn" type="submit" value="submit">
        </form>
    </div>
</body>

</html>